*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;

}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#navpart1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navpart1 h3{
    font-size: 15px;
    border: 1.5px black solid;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#navpart1 i{
    font-size: 15px;
    border: 1.5px black solid;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#navpart2{
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
}
#navpart3 Button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 12px;
}
#btn2{
    background-color: orangered;
    color: white;
    border: none;
}
#adv{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center ;
}
#imgg{
    height: 400px;
    width: 350px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotate(-30deg);
    object-position: top;
    border-radius: 50px;
}
#imgg1{
    height: 400px;
    width: 350px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    object-position: top;
    border-radius: 50px;
}
#imgg2{
    height: 400px;
    width: 350px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
    object-position: top;
    border-radius: 50px;
}
#imgg3{
    height: 400px;
    width: 350px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    object-position: top;
    border-radius: 50px;
}
#btmleft{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 17px;
}